<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> 

{% load static %}

<link rel='stylesheet' href="{% static 'css/styles.css' %}">
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/blog/">My Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          {% if "search" in request.path or request.path == "/blog/" %}
          
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{% url 'blog:new_category' 'n' %}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Categories
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% for category in categories %}
                    <li><a class="dropdown-item" href="{% url 'blog:search' category %}">{{category}}</a></li>
                  {% endfor %}
                </ul>
              </li>

          {% endif %}

          {% if user.is_authenticated %}

              <div class='nav-item'>
                <a class="nav-link" href="{% url 'blog:new_post' %}">Add Post</a>
              </div>

              <div class='nav-item'>
                <a class="nav-link" href="{% url 'blog:new_category' 'y' %}">Add Category</a>
              </div>

            {# post_path: Context of DetailListView that contains relative post path #} 
            {% if post_path and user.get_username == post.owner|stringformat:"s" %}

              <div class='nav-item'>
                <a class="nav-link" href="{% url 'blog:update_post' post.id %}">Edit Post</a>
              </div>

              <div class='nav-item'>
                <a class="nav-link" href="{% url 'blog:delete_post' post.id %}">Delete Post</a>
              </div>

            {% endif %}

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{% url 'blog:new_category' 'n' %}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Profile
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="{% url 'blog:update_profile' %}">Edit</a></li>
                  <li><a class="dropdown-item" href="/accounts/logout">Logout</a></li>
                </ul>
              </li>

          {% else %}

          <li class="nav-item">
            <a class="nav-link" href="/blog/register/">Register</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/accounts/login">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
</nav>