{% extends "blog/base.html" %}

{% block content %}

<div class="index">
    
    <br>
    {% if user.is_authenticated %}

    <h1> Welcome back, {{ user.get_username }} </h1>

    {% else %}

    <h1> Welcome to my blog </h1>

    {% endif %}


</div>

{% if latest_post_list %}
<ul>
    {% for post in latest_post_list %}
        <li><a href="{% url 'blog:post_details' post.id %}">{{ post.title }}</a>
             - {{post.owner}}
             {% if user.get_username == post.owner|stringformat:"s" %}
             <sub><a href="{% url 'blog:update_post' post.id %}"> (edit)</a></sub>
             <sub><a href="{% url 'blog:delete_post' post.id %}"> (delete)</a></sub></li>
             {% endif %}
    {% endfor %}
    {% if user.is_authenticated %}
    <li><a href="{% url 'blog:new_post' %}">Create new post</a></li>
    {% endif %}
</ul>
{% else %}
    {% if user.is_authenticated %}
        <p> No posts are available. <a href="{% url 'blog:new_post' %}">Create one?</a></p>
    {% else %}    
        <p> No posts are available.</p>
    {% endif %}
{% endif %}


{% endblock %}