{% extends "blog/base.html" %}

{% block title %}
   <title>{{ post.title }}</title>
{% endblock %}    

{% block content %}
<div class="container">
<br>

<div class="post-upper">
    <h1>{{ post.title }}</h1>

    {% if user.get_username == post.owner|stringformat:"s" %}
        <div class="space">
            <nav><a href="{% url 'blog:update_post' post.id %}">Edit post</a>
            <a href="{% url 'blog:delete_post' post.id %}">Delete post</a></nav>
        </div>    
    {% endif %}
</div> 
<div class="post-upper">
    <small>By: {{ post.owner }}</small>
    <small>Published at {{ post.get_pub_date }}</small>
</div>
<hr><br>

{% if post.header_image %}
    <img src="{{ post.header_image.url}}">
{% endif %}

{{ post.content|safe }}

<div class="space"></div>
{% for comment in comment_list %}
    {{comment.get_body}}
    <br>
    {{comment.get_details }} 
    <br>
    {% if comment.name|stringformat:"s" == user.get_username %}
        <a href= "{% url 'blog:update_comment' post.id comment.id %}">Edit </a>&nbsp
        <a href= "{% url 'blog:delete_comment' post.id comment.id %}">Delete </a>   
    {% endif %}    
    <br>
{% endfor %}

{% if comment_list %}
<br>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% else %}
This post doesn´t have comments. 
{% endif %}

{% if user.get_username %}
<a href="{% url 'blog:new_comment' post.id %}"> Comment Post </a>
{% endif %}
<div class="space"></div>
<a href="{% url 'blog:index' %}" class="btn btn-success">Back</a>
</div>
{% endblock %}