{% extends "blog/base.html" %}

{% block content %}

<body>
    <div class="container">
        <div class="index">

            <br>
            {% if user.is_authenticated and request.path == "/blog/" %}

            <h1> Welcome back, {{ user.get_username }} </h1>

            {% elif "search" in request.path %}

            <h1> {{ search }} </h1>

            {% else %}

            <h1> Welcome to my blog </h1>

            {% endif %}


        </div>

        {% if latest_post_list %}
        <ul>
            {% for post in latest_post_list %}
            <li><a href="{% url 'blog:post_details' post.id %}">{{ post.title }}</a>
                - <a href="{% url 'blog:search' post.category.name %}">{{post.category}}</a>
                - <a href="{% url 'blog:search' post.owner %}">{{post.owner}}</a>
                - <a href="{% url 'blog:search' post.get_pub_date_no_hours %}">{{post.get_pub_date_no_hours}}</a>
                {% if user.get_username == post.owner|stringformat:"s" %}
                <sub><a href="{% url 'blog:update_post' post.id %}"> (edit)</a></sub>
                <sub><a href="{% url 'blog:delete_post' post.id %}"> (delete)</a></sub>
            
            {% endif %}
            {% endfor %}
            {% if user.is_authenticated %}
            <li><a href="{% url 'blog:new_post' %}">Create new post</a></li>
            {% endif %}
        </ul>
        {% else %}
        {% if user.is_authenticated %}
        <p> No posts are available. <a href="{% url 'blog:new_post' %}">Create one?</a></p>
        {% else %}
        <p> No posts are available.</p>
        {% endif %}
        {% endif %}

        {% if request.path != "/blog/" %}

        <a href="/blog/" class="btn btn-success">Back</a>

    </div>
</body>

{% endif %}

{% endblock %}